ADF-Resources/pipeline/PL_CPD_Mi9_2_Packages_Incr_Load.json
{
	"name": "PL_CPD_Mi9_2_Packages_Incr_Load",
	"properties": {
		"description": "This Pipeline copies incremental Data from 'packages' table resides in MiRODB(metagenics-read.chs1gq6fhsa8.us-west-2.rds.amazonaws.com) to Azure SQL Dev Environment.",
		"activities": [
			{
				"name": "LKP_packages",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL_SRC_Mi9_Packages_MAX_TS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CPD_Mi9_2_Packages_Incr_Load",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_packages",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "select * from `packages` where created>='@{activity('LKP_packages').output.firstRow.Max_Created_TS}' or updated >= '@{activity('LKP_packages').output.firstRow.Max_Updated_TS}';",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table dbo.Mi9_packages_incr;",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SRC_MySQL_packages_Incr_Load",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SINK_ASQL_packages_Incr",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_usp_Mi9_Packages_IncrLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPD_Mi9_2_Packages_Incr_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Mi9_Packages_IncrLoad]"
				},
				"linkedServiceName": {
					"referenceName": "metausedpdev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CPD_Max_TS_ASQL_2_ABLB_packages",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP_usp_Mi9_Packages_IncrLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(created) as [Max_Created_TS],max(updated) as [Max_Updated_TS] from dbo.Mi9_packages;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "Truncate Table dbo.Mi9_Packages_MaxTS;",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_ASQL_SR_Mi9_packages_TS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_SRC_Mi9_Packages_MAX_TS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "AAAAMi9_Tables_Extraction"
		},
		"annotations": [],
		"lastPublishTime": "2019-12-26T11:27:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}