ADF-Resources/pipeline/PL_CPD_MI9_Transactions_Last7days.json
{
	"name": "PL_CPD_MI9_Transactions_Last7days",
	"properties": {
		"activities": [
			{
				"name": "CPD_MI9_Transactions",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat('select * from transactions where created > DATE(NOW()',' - ',variables('last7days'),')')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table staging.MI9_Transactions_Staging_Incr",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_MYSQL_SRC_Mi9_Transactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_SINK_Mi9_Transactions_Incr",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MI9_Transactions_Incremental_Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPD_MI9_Transactions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Mi9_Transactions_Incr_Load]"
				},
				"linkedServiceName": {
					"referenceName": "metausedpprod",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"last7days": {
				"type": "String",
				"defaultValue": "INTERVAL 7 DAY"
			}
		},
		"folder": {
			"name": "MI9 PROD"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-05T07:21:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}