ADF-Resources/pipeline/rc-pipe_CLONE.json
{
	"name": "rc-pipe_CLONE",
	"properties": {
		"activities": [
			{
				"name": "rc",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.incontact.com/InContactAuthorizationServer/Token",
					"method": "POST",
					"headers": {
						"Authorization": "basic bWV0YWRhc2hAbWV0YWRhc2g6NDU5Nzk4NQ=="
					},
					"body": "{'grant_type' : 'password', 'username' :  'metadash@metagenics.com', 'password' : 'M3tadash9'}"
				}
			},
			{
				"name": "rc_skills_act",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "rc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "bearer @{activity('rc').output.access_token}",
								"type": "Expression"
							},
							"Content-type": "application/x-www-form-urlencoded"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "rc_pipe_sr_skills_summary_CLONE",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "rc_snk_CLONE",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-10-17T00:58:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}