Test/pipeline/PL_CPD_Mi9_notes.json
{
	"name": "PL_CPD_Mi9_notes",
	"properties": {
		"activities": [
			{
				"name": "CPD_Mi9_notes",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat('select * from notes where updated> DATE(NOW()',' - ',variables('last7days'),')')",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [staging].[MI9_Notes_Staging]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MYSQL_Mi9_Notes",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ASQL_Mi9_Notes",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_Mi9_Notes_Incremental_Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPD_Mi9_notes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Mi9_Notes_Incr_Load]"
				},
				"linkedServiceName": {
					"referenceName": "metausedpprod",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"last7days": {
				"type": "String",
				"defaultValue": "INTERVAL 7 DAY"
			}
		},
		"folder": {
			"name": "MI9 PROD"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-20T06:52:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}